* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #3C96ED;
    text-decoration: none;
}

body {
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}