* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #3C96ED;
    text-decoration: none;
}

body {
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper {
    height: 100vh;
}

#container {
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column {
    flex-grow: 1;
    width: 50%;
}

.left {
    background-image: url("assets/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right {
    padding-left: 20px;
}

.login-panel {
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    text-align: center;
    padding: 20px 0;
}

.logo-img {
    width: 175px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=password],
input[type=text] {
    background-color: #FFFFFF;
    border: 1px solid rgb(236, 234, 234);
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    color: #000000;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: rgb(165, 164, 164);
}

input[type="password"]:focus,
input[type="text"]:focus {
    outline: 0;
    border: 1px solid #A1A1A1;
}

input[type="submit"] {
    width: 320px;
    margin-top: 10px;
    height: 30px;
    border: 0;
    background-color: #3C96ED;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.infobox {
    background-color: #FFF;
    height: 60px;
    border: 1px solid rgb(236, 234, 234);
    margin: 10px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobox p {
    user-select: none;
}

.infobox p a {
    font-weight: bold;
    user-select: none;
}